@import "../config";

$textAlign: (
        left: left,
        right: right,
        center: center,
        start: start,
        end: end
);

$textDecoration: (
        none:none,
        underline:underline
);

$textTransform: (
        lowercase:lowercase,
        uppercase:uppercase
);

$whiteSpace: (
        normal:normal,
        nowrap:nowrap,
        wrap:wrap,
        pre:pre,
        break-spaces:break-spaces
);

$listStyleType: (
        none: none,
        disc: disc,
        decimal: decimal
);

$listStylePosition: (
        inside: inside,
        outside: outside
);

$lineHeight: (
        normal: normal,
        '1': 1,
        '1-125': 1.125,
        '1-25': 1.25,
        '1-375': 1.375,
        '1-5': 1.5,
        '1-75': 1.75,
        '2': 2
);


$fontSize: (
        xs: 0.625rem,
        sm: 0.75rem,
        md: 0.875rem,
        base: 1rem,
        lg: 1.125rem,
        xl: 1.25rem,
        '2xl': 1.5rem,
        '3xl': 1.75rem,
        '4xl': 2rem,
        '5xl': 2.25rem,
        '6xl': 2.5rem,
        '7xl': 3rem,
        /* '8xl': 5rem, */
        /* '9xl': 8rem, */
);
      

$weights: (
        light: 300,
        regular: 400,
        medium: 500,
        semibold: 600,
        bold: 700,
        extrabold: 800
);

$fontWeight: ();

@each $weight, $val in $weights {
        $fontWeight: map-merge($fontWeight, (#{$weight}:#{$val}));
}


$fontStyle: (
        italic:italic,
        normal:normal
);


$fontFamily: (
        sans: 'var(--font-sans)',
        serif: 'var(--font-serif)',
        mono: 'var(--font-mono)'
);